entrypoint = "main.py"

hidden = [".pythonlibs"]
run = "python main.py"
modules = ["python-3.8"]

[nix]
channel = "stable-23_05"

[env]
LANG = "en_US.UTF-8"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
INVITE_LINK = "https://discord.gg/aTVRYYWekE"

[[ports]]
localPort = 8080
externalPort = 80
